.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #000000;
    text-align: center;
    font-family: "Copperplate Gothic Light", fantasy;
}

h2 {
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-family: "Copperplate Gothic Light", fantasy;
}

p {
    color: #ffffff;
    font-family: "Copperplate Gothic Light", fantasy;
}

.button-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.table-buttons button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.banner {
    background-color: #3498db;
    padding: 1px;
    text-align: center;
}

