.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 48px;
    color: #000000;
    text-align: center;
    font-family: "Copperplate Gothic Light", fantasy;
}

h2 {
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-family: "Copperplate Gothic Light", fantasy;
}

h3 {
    color: #000000;
    text-align: center;
    font-family: "Copperplate Gothic Light", fantasy;
}

p {
    color: #000000;
    font-family: "Copperplate Gothic Light", fantasy;
}

.button-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #3498db;
}

.table-buttons button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.banner {
    background-color: #3498db;
    padding: 1px;
    text-align: center;
    border: 1px solid #010101;
}

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: animateBackground 10s linear infinite alternate;
    background: linear-gradient(45deg, #3498db, #11e5d7);
}

@keyframes animateBackground {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.scrollContainer{
    overflow: auto;
    width: 50%;
    height: 30%;
    border: 3px solid #3f3f3f ;
    display: grid;
    align-content: baseline;
    margin: auto;

}

.friendContainer{
    width: 96%;
    height: 40px;
    line-height: 3em;
    overflow: visible;
    padding: 2%;
    border: 2px solid #3498db;

}

.friendNameItem {
    display: inline-block;
    vertical-align:top;
    white-space:normal;
    float: left;
    width: 60%;
}

.friendButtonItem {
    display: inline-block;
    vertical-align:top;
    white-space:normal;
    float: left;
    width: 20%;
}

.messageContainer{
    width: 96%;
    height: 60px;
    line-height: 3em;
    overflow: visible;
    padding: 2%;


}

.messageUserItem{
    display: inline-block;
    vertical-align:top;
    white-space:normal;
    float: left;
    width: 40%;
    border: 2px solid #3498db;
}

.messageFriendItem{
    display: inline-block;
    vertical-align:top;
    white-space:normal;
    float: right;
    width: 40%;
    border: 2px solid green;
}



