body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #000;
    text-align: center;
    font-family: "Copperplate Gothic Light", fantasy;
}

a {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
    text-align: center;
    width: 100px;
    height: 20px;
    display: block;
    margin: 10px;
}

button {
    background-color: #ffffff;
    color: #000;
    padding: 10px 15px; /* Adjust padding as needed */
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
    text-align: center;
    width: auto; /* Allow the button to adjust its width based on content */
    height: 20px;
    display: block;
    margin: 10px;
}

.home-button {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: pointer;
    text-align: center;
    /*width: 100px;*/
    height: 20px;
    /*display: block;*/
    margin: 10px;
    text-decoration: none;
}

.table-link {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #000;
    cursor: crosshair;
    margin: 10px;
    text-decoration: none;
}

.nav-link {
    display: block;
    margin: 10px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: #3498db;
    padding: 1px;
    text-align: center;
}

.center-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container {
    display: inline-block; /* Allows elements to appear side by side */
    margin: 10px; /* Adjust spacing between elements */
}

.poker-chips {
    width: 100px; /* Set the desired width for the left image */
    height: auto; /* Maintain aspect ratio */
}

.cards-image {
    width: 50px; /* Set the desired width for the right image */
    height: auto; /* Maintain aspect ratio */
}

.hand {
    display: flex;       /* Use flexbox layout */
    align-items: center; /* Vertically center the images */
}

.hand img {
    margin-right: 10px; /* Add some spacing between the images (adjust as needed) */
}